<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>resume From: <%= @carrier.first_name %></h1>
    <p>
      
      first name : <%= @carrier.first_name %>.<br>
       last name : <%= @carrier.last_name %>.<br>
      City : <%= @carrier.city %>.<br>
       State: <%= @carrier.state %>.<br>
       Country: <%= @carrier.country %>.<br>
       Email: <%= @carrier.email %>.<br>
      
     <%=link_to "download resume", "http://0.0.0.0:3000/#{@carrier.resume_url}" %>.<br>
      photo: <%= link_to "Download photo","http://0.0.0.0:3000/#{@carrier.photo_url}" %>.<br>
      
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
 